<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MIGAZ.app" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MIGAZ.app" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <MIGAZ.app>
            <setting name="AllowTelemetry" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TenantId" serializeAs="String">
                <value>&lt;domain&gt;.onmicrosoft.com</value>
            </setting>
            <setting name="UniquenessSuffix" serializeAs="String">
                <value>v2</value>
            </setting>
            <setting name="BuildEmpty" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExecutionId" serializeAs="String">
                <value />
            </setting>
            <setting name="AzureEnvironment" serializeAs="String">
                <value>Azure Cloud</value>
            </setting>
            <setting name="AutoSelectDependencies" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveSelection" serializeAs="String">
                <value>False</value>
            </setting>
        </MIGAZ.app>
    </userSettings>
    <applicationSettings>
        <MIGAZ.app>
            <setting name="ClientId" serializeAs="String">
                <value>1950a258-227b-4e31-a9cf-717495945fc2</value>
            </setting>
            <setting name="ReturnURL" serializeAs="String">
                <value>urn:ietf:wg:oauth:2.0:oob</value>
            </setting>
            <setting name="AllowTag" serializeAs="String">
                <value>True</value>
            </setting>
        </MIGAZ.app>
    </applicationSettings>
</configuration>